@import 'variables';
html {
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}

.MuiSvgIcon-root {
    vertical-align: middle;
}