@import 'variables';
.profile {
    padding: 0px !important;
    min-height: 100vh;
    &-details {
        background-color: $background-secondary;
        padding: 1em !important;
        &-image {
            border-radius: 50%;
            border: 1px solid white;
        }
        &-info {
            color: white !important;
        }
    }
}