@import 'variables';
.question {
    margin: 15px auto;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.185);
    padding: 1em 1em 0em 1em;
    border-radius: 5px;
    &-author {
        display: flex;
        flex-direction: row;
        margin-top: 10px !important;
        &>* {
            margin-right: 10px;
        }
        &>.name {
            color: $text-color-secondary !important;
            opacity: 80%;
        }
        &>.avatar {
            border: 1px solid rgba(0, 0, 0, 0.185);
        }
    }
    &-information {
        margin-top: 1.5em !important;
        &>.left>span {
            margin-right: 10px !important;
        }
        &>.right {
            text-align: end;
        }
    }
}

.no-questions {
    text-align: center;
    margin-top: 5em !important;
    font-size: 1.5em;
    font-weight: bold !important;
    color: rgb(3, 3, 136);
}